<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="header-inner">

        <a class="navbar-brand" href="#">能耗管理系统</a>

        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="navbar-toggle" data-toggle="collapse"
           data-target=".navbar-collapse" onclick="document.getElementById('indexheadpopup').style.display='none';">
            <i class="fa fa-reorder"></i>
        </a>
        <!-- --------------------------------- -->
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown message">
                <!--  <a href="#" data-toggle="dropdown"> -->
                <a href="/Account/Logout">
                    <acronym title="退出">
                        <i class="fa fa-head2 fa-sign-out"></i>
                    </accronym>
                </a>

            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
