@using EMS.DAL.Entities
@using EMS.DAL.RepositoryImp
@{ 
    UserMenus menu = new UserMenus();

    MenuDbContext context = new MenuDbContext();

    menu = context.GetMenus(User.Identity.Name);
}
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu" id="#page-sidebar-menu">
            <li class="sidebar-toggler-wrapper">
                <div class="sidebar-toggler hidden-phone"></div>
            </li>
            @if (menu.Menus.Contains("1P") || menu.Menus.Contains("all"))
            {
                <li id="fistpage" class="">
                    <a href="/Home/Index"
                       id="btn-dashboard">
                        <i class="fa fa-cog"></i>
                        <span class="title">用能概况</span>
                    </a>
                </li>
            }

            @if (menu.Menus.Contains("2P") || menu.Menus.Contains("all"))
            {
                <li id="mappage" class="">
                    <a href="/MapView/Index" id="btn-map">
                        <i class="fa fa-map-marker"></i>
                        <span class="title">地图导航 </span>
                    </a>
                </li>
            }

            @if (menu.Menus.Contains("7P") || menu.Menus.Contains("all"))
            {
                <li id="overAll" class="">
                    <a href="/Home/OverAll" id="btn-map">
                        <i class="fa fa-search"></i>
                        <span class="title">综合查询</span>
                    </a>
                </li>
            }

            @if (menu.Menus.Contains("3P") || menu.Menus.Contains("all"))
            {
                <li id="flenergy" class="">
                    <a href="javascript:;">
                        <i class="fa fa-sitemap"></i>
                        <span class="title">支路用能 </span><span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" id="tenergy">
                        @if (menu.Menus.Contains("3.1") || menu.Menus.Contains("all"))
                        {
                            <li id="trunk" class=""><a href="/Circuit/Main"><i class="fa fa-caret-right"></i>支路用能概况</a></li>
                        }
                        @if (menu.Menus.Contains("3.2") || menu.Menus.Contains("all"))
                        {
                            <li id="count" class=""><a href="/Circuit/Report"><i class="fa fa-caret-right"></i>支路用能统计</a></li>
                        }
                        @if (menu.Menus.Contains("3.3") || menu.Menus.Contains("all"))
                        {
                            <li id="te_collect" class=""><a href="/Circuit/Collect"><i class="fa fa-caret-right"></i>数据集抄</a></li>
                        }

                        @if (menu.Menus.Contains("3.4") || menu.Menus.Contains("all"))
                        {
                            <li id="table" class=""><a href="/Circuit/Compare"><i class="fa fa-caret-right"></i>同比分析</a></li>
                        }

                        @if (menu.Menus.Contains("3.5") || menu.Menus.Contains("all"))
                        {
                            <li id="ringratio" class=""><a href="/Circuit/RingRatio"><i class="fa fa-caret-right"></i>日同环比分析</a></li>
                        }
                        @if (menu.Menus.Contains("3.6") || menu.Menus.Contains("all"))
                        {
                            <li id="cir_params" class=""><a href="/Circuit/Param"><i class="fa fa-caret-right"></i>参数查询</a></li>
                        }
                        @if (menu.Menus.Contains("3.7") || menu.Menus.Contains("all"))
                        {
                            <li id="cir_env" class=""><a href="/Circuit/Environment"><i class="fa fa-caret-right"></i>环境参数</a></li>
                        }
                        <!-- <li id="" class=""><a href="javascript:;"> <span style="color:#b1b0b0">趋势曲线</span></a></li> -->
                        <!-- <li id="te_loss" class=""><a href="rest/tela"><i class="fa fa-caret-right"></i>损耗分析</a></li> -->
                        <!-- <li id="te_env" class=""><a href="rest/tandh"><i class="fa fa-caret-right"></i>环境参数</a></li> -->
                    </ul>
                </li>
            }

            @if (menu.Menus.Contains("4P") || menu.Menus.Contains("all"))
            {
                <li id="seenergy" class="">
                    <a href="javascript:;">
                        <i class="fa fa-list-alt"></i><span class="title">分项用能</span><span class="arrow "></span>
                    </a>
                    <ul class="sub-menu" id="">
                        @if (menu.Menus.Contains("4.1") || menu.Menus.Contains("all"))
                        {
                            <li id="se_trunk" class=""><a href="/Item/Main"><i class="fa fa-caret-right"></i>分项用能概况</a></li>
                        }
                        @if (menu.Menus.Contains("4.2") || menu.Menus.Contains("all"))
                        {
                            <li id="se_count" class=""><a href="/Item/Report"><i class="fa fa-caret-right"></i>分项用能统计</a></li>
                        }
                        @if (menu.Menus.Contains("4.3") || menu.Menus.Contains("all"))
                        {
                            <li id="se_compare" class=""><a href="/Item/Compare"><i class="fa fa-caret-right"></i>同比分析</a></li>
                        }
                        @if (menu.Menus.Contains("4.4") || menu.Menus.Contains("all"))
                        {
                            <li id="se_statistic" class=""><a href="/Item/Statistic"><i class="fa fa-caret-right"></i>分类分项统计报表</a></li>
                        }
                        @if (menu.Menus.Contains("4.5") || menu.Menus.Contains("all"))
                        {
                            <li id="se_ringratio" class=""><a href="/Item/RingRatio"><i class="fa fa-caret-right"></i>日同环比分析</a></li>
                        }
                    </ul>
                </li>
            }


            @if (menu.Menus.Contains("5P") || menu.Menus.Contains("all"))
            {
                <li id="deenergy" class="">
                    <a href="javascript:;">
                        <i class="fa fa-group"></i><span class="title">部门用能</span><span class="arrow "> </span>
                    </a>
                    <ul class="sub-menu" id="">
                        @if (menu.Menus.Contains("5.1") || menu.Menus.Contains("all"))
                        {
                            <li id="de_survey" class=""><a href="/Department/Main"><i class="fa fa-caret-right"></i>部门用能概况</a></li>
                        }
                        @if (menu.Menus.Contains("5.2") || menu.Menus.Contains("all"))
                        {
                            <li id="de_count" class=""><a href="/Department/Report"><i class="fa fa-caret-right"></i>部门用能统计</a></li>
                        }
                        @if (menu.Menus.Contains("5.6") || menu.Menus.Contains("all"))
                        {
                            <li id="de_average" class=""><a href="/Department/Average"><i class="fa fa-caret-right"></i>部门均值分析</a></li>
                        }
                        @if (menu.Menus.Contains("5.3") || menu.Menus.Contains("all"))
                        {
                            <li id="de_compare" class=""><a href="/Department/Compare"><i class="fa fa-caret-right"></i>同比分析</a></li>
                        }
                        @if (menu.Menus.Contains("5.4") || menu.Menus.Contains("all"))
                        {
                            <li id="de_rank" class=""><a href="/Department/Rank"><i class="fa fa-caret-right"></i>能耗排名</a></li>
                        }
                        @if (menu.Menus.Contains("5.5") || menu.Menus.Contains("all"))
                        {
                            <li id="de_check" class=""><a href="/Department/Check"><i class="fa fa-caret-right"></i>节能考核</a></li>
                        }

                    </ul>
                </li>
            }

            @if (menu.Menus.Contains("6P") || menu.Menus.Contains("all"))
            {
                <li id="leenergy" class="">
                    <a href="javascript:;">
                        <i class="fa fa-flag"></i><span class="title">区域用能 </span><span class="arrow "></span>
                    </a>
                    <ul class="sub-menu" id="tenergy">
                        @if (menu.Menus.Contains("6.1") || menu.Menus.Contains("all"))
                        {
                            <li id="le_survey" class=""><a href="/Region/Main"><i class="fa fa-caret-right"></i>区域用能概况</a></li>
                        }
                        @if (menu.Menus.Contains("6.2") || menu.Menus.Contains("all"))
                        {
                            <li id="le_count" class=""><a href="/Region/Report"><i class="fa fa-caret-right"></i>区域用能统计</a></li>
                        }
                        @if (menu.Menus.Contains("6.3") || menu.Menus.Contains("all"))
                        {
                            <li id="le_compare" class=""><a href="/Region/Compare"><i class="fa fa-caret-right"></i>同比分析</a></li>
                        }
                        @if (menu.Menus.Contains("6.4") || menu.Menus.Contains("all"))
                        {
                            <li id="le_cost" class=""><a href="/Region/Cost"><i class="fa fa-caret-right"></i>费用报表</a></li>
                        }
                    </ul>
                </li>
            }

            @if (menu.Menus.Contains("8P") || menu.Menus.Contains("all"))
            {
                <li id="alarm" class="">
                    <a href="javascript:;">
                        <i class="fa fa-bell"></i><span class="title">能耗报警提示</span><span class="arrow "></span>
                    </a>
                    <ul class="sub-menu" id="alarmlist">
                        @if (menu.Menus.Contains("8.1") || menu.Menus.Contains("all"))
                        {
                            <li id="equipAlarm" class=""><a href="/Alarm/EquipAlarm"><i class="fa fa-caret-right"></i>支路用能报警提示</a></li>
                        }
                        @if (menu.Menus.Contains("8.2") || menu.Menus.Contains("all"))
                        {
                            <li id="deptAlarm" class=""><a href="/Alarm/DepartmentAlarm"><i class="fa fa-caret-right"></i>部门用能报警提示</a></li>
                        }
                        @if (menu.Menus.Contains("8.3") || menu.Menus.Contains("all"))
                        {
                            <li id="outofworkAlarm" class=""><a href="/Alarm/OutOfWorkAlarm"><i class="fa fa-caret-right"></i>重点设备报警提示</a></li>
                        }
                        @if (menu.Menus.Contains("8.4") || menu.Menus.Contains("all"))
                        {
                            <li id="deptOutofworkAlarm" class=""><a href="/Alarm/DepartmentOutOfAlarm"><i class="fa fa-caret-right"></i>非工作时段智能报警</a></li>
                        }
                        
                    </ul>
                </li>
            }

            @if (menu.Menus.Contains("XP") || menu.Menus.Contains("all"))
            {
                <li id="menu_state" class="">
                    <a href="javascript:;">
                        <i class="fa fa-signal"></i><span class="title">系统状态 </span><span class="arrow "></span>
                    </a>
                    <ul class="sub-menu" id="">
                        @if (menu.Menus.Contains("X.1") || menu.Menus.Contains("all"))
                        {
                            <li id="menu_communicate" class=""><a href="/Infomation/MeterStatus"><i class="fa fa-caret-right"></i>通讯状态</a></li>
                        }
                        
                    </ul>
                </li>
            }

            @if (menu.Menus.Contains("9P") || menu.Menus.Contains("all"))
            {
                <li id="settings" class="">
                    <a href="javascript:;">
                        <i class="fa fa-gears"></i><span class="title">系统设置 </span><span class="arrow "></span>
                    </a>
                    <ul class="sub-menu" id="">
                        @*@if (menu.Menus.Contains("9.1") || menu.Menus.Contains("all"))
        {
            <li id="deviceLimit" class=""><a href="~/Setting/OutOfWork"><i class="fa fa-caret-right"></i>重点设备报警设置</a></li>
        }
        @if (menu.Menus.Contains("9.2") || menu.Menus.Contains("all"))
        {
            <li id="departmentLimit" class=""><a href="~/Setting/DepartmentOutOfWork"><i class="fa fa-caret-right"></i>办公室报警设置</a></li>
        }*@
                        @if (menu.Menus.Contains("9.3") || menu.Menus.Contains("all"))
                        {
                            <li id="menu_user_building" class=""><a href="~/Setting/UserBuilding"><i class="fa fa-caret-right"></i>用户建筑关联</a></li>
                        }
                        @if (menu.Menus.Contains("9.4") || menu.Menus.Contains("all"))
                        {
                            <li id="menu_user_menu" class=""><a href="~/Setting/UserMenu"><i class="fa fa-caret-right"></i>用户菜单设置</a></li>
                        }
                    </ul>
                </li>
            }

        </ul>
    </div>
</div>
<!-- END SIDEBAR -->
