<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu" id="#page-sidebar-menu">
            <li class="sidebar-toggler-wrapper">
                <div class="sidebar-toggler hidden-phone"></div>
            </li>

            <li id="fistpage" class="">
                <a href="/Home/Index"
                   id="btn-dashboard">
                    <i class="fa fa-cog"></i><span class="title">
                        用能概况
                    </span>
                </a>
            </li>
            <li id="flenergy" class="">
                <a href="javascript:;">
                    <i class="fa fa-sitemap"></i><span class="title">支路用能 </span><span class="arrow "></span>
                </a>
                <ul class="sub-menu" id="tenergy">
                    <li id="trunk" class=""><a href="/Circuit/Main"><i class="fa fa-caret-right"></i>支路用能概况</a></li>
                    <li id="count" class=""><a href="/Circuit/Report"><i class="fa fa-caret-right"></i>支路用能统计</a></li>
                    <li id="te_collect" class=""><a href="/Circuit/Collect"><i class="fa fa-caret-right"></i>数据集抄</a></li>
                    <li id="table" class=""><a href="/Circuit/Compare"><i class="fa fa-caret-right"></i>同比分析</a></li>
                    <!-- <li id="" class=""><a href="javascript:;"> <span style="color:#b1b0b0">趋势曲线</span></a></li> -->
                    <!-- <li id="te_loss" class=""><a href="rest/tela"><i class="fa fa-caret-right"></i>损耗分析</a></li> -->
                    <!-- <li id="te_env" class=""><a href="rest/tandh"><i class="fa fa-caret-right"></i>环境参数</a></li> -->

                </ul>
            </li>

            <li id="seenergy" class="">
                <a href="javascript:;">
                    <i class="fa fa-list-alt"></i><span class="title">分项用能</span><span class="arrow "></span>
                </a>
                <ul class="sub-menu" id="">
                    <li id="se_trunk" class=""><a href="/Item/Main"><i class="fa fa-caret-right"></i>分项用能概况</a></li>
                    <li id="se_count" class=""><a href="/Item/Report"><i class="fa fa-caret-right"></i>分项用能统计</a></li>
                    <li id="se_compare" class=""><a href="/Item/Compare"><i class="fa fa-caret-right"></i>同比分析</a></li>
                    <li id="se_statistic" class=""><a href="/Item/Statistic"><i class="fa fa-caret-right"></i>分类分项统计报表</a></li>
                </ul>
            </li>


            <li id="deenergy" class="">
                <a href="javascript:;">
                    <i class="fa fa-group"></i><span class="title">部门用能</span><span class="arrow "> </span>
                </a>
                <ul class="sub-menu" id="">
                    <li id="de_survey" class=""><a href="/Department/Main"><i class="fa fa-caret-right"></i>部门用能概况</a></li>
                    <li id="de_count" class=""><a href="/Department/Report"><i class="fa fa-caret-right"></i>部门用能统计</a></li>
                    <li id="de_compare" class=""><a href="/Department/Compare"><i class="fa fa-caret-right"></i>同比分析</a></li>
                </ul>
            </li>
            <li id="leenergy" class="">
                <a href="javascript:;">
                    <i class="fa fa-flag"></i><span class="title">区域用能 </span><span class="arrow "></span>
                </a>
                <ul class="sub-menu" id="tenergy">
                    <li id="le_survey" class=""><a href="/Region/Main"><i class="fa fa-caret-right"></i>区域用能概况</a></li>
                    <li id="le_count" class=""><a href="/Region/Report"><i class="fa fa-caret-right"></i>区域用能统计</a></li>
                    <li id="le_compare" class=""><a href="/Region/Compare"><i class="fa fa-caret-right"></i>同比分析</a></li>
                    <li id="le_cost" class=""><a href="/Region/Cost"><i class="fa fa-caret-right"></i>费用报表</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<!-- END SIDEBAR -->
