<div id="map"></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=b2wLNebNNNs5rhY2ywCaX1mjrUSb1yGK"></script>
<script src="~/app/js/map.js" type="text/javascript"></script>