<div class="container-fluid main-top">
    <div class="status-top">
        <div class="status-building">
            <span>建筑名称：</span>
            <form role="form">
                <div class="form-group status-form-group" style="margin-top: 5px;">
                    <select class="form-control" id="buildinglist"></select>
                </div>
            </form>
        </div>
        <div class="status-energy">
            <span>仪表分类：</span>
            <form role="form">
                <div class="form-group status-form-group" style="margin-top: 5px;">
                    <select class="form-control" id="energys"></select>
                </div>
            </form>
        </div>
        <div class="status-right">
            <label>
                <input id="Disconnect" type="checkbox" value="">只显示通讯中断
            </label>
        </div>
    </div>

    <div id="alarmTable" class="col-xs-12 R-Columnar">

    </div>

</div>
<script src="~/app/js/Infomation/MeterStatus.js"></script>

