<div class="container-fluid main-top">
    <div class="col-xs-12">
      <div class="equip-row">
        <div class="filter-width">
            建筑名称：
        </div>
        <div class="se-right equip-right">
            <form role="form">
                <div class="form-group">
                    <select class="form-control" id="buildinglist"></select>
                </div>
            </form>
        </div>
       </div>
       <div class="equip-row">
        <label class="equip-width" style="width:77px">开始日期：</label>
        <div id="StartdayCalendar" class="input-group date form_date count-data" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            <input id="StartdaycalendarBox" class="form-control" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
       </div>
       <div class="equip-row">
        <label class="equip-width" style="width:77px">结束日期：</label>
        <div id="EnddayCalendar" class="input-group date form_date count-data" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            <input id="EnddaycalendarBox" class="form-control" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
       </div>
       <div class="filter-width">
            报警类型：
        </div>
        <div class="se-right equip-right">
            <form role="form">
                <div class="form-group">
                    <select class="form-control" id="alarmTypeList"></select>
                </div>
            </form>
        </div>
        <button id="Load" type="button" class="btn-equip">查询</button>
    </div>
    <div>
        <div id="alarmTable" class="R-Table"></div>
        <nav style="float:left">
                    <ul id="paginationOld" class="pagination margin-top-10 margin-bottom-10 "></ul>
                </nav>
    </div>
</div>
<script type="text/javascript" src="/app/js/Alarm/AlarmRecord.js"></script>

