<div class="container-fluid main-top equipAlarm">
    <div class="col-xs-12">
      <div class="equip-row">
        <div class="filter-width">
            建筑名称：
        </div>
        <div class="se-right equip-right">
            <form role="form">
                <div class="form-group">
                    <select class="form-control" id="buildinglist"></select>
                </div>
            </form>
        </div>
       </div>
       <div class="equip-row">
           <label class="equip-width">类型：</label>
           <select class="equip-date">
              <option>日</option>
              <option>月</option>
              <option>季度</option>
           </select>
       </div>
       <div class="equip-row equip-row2">
        <label class="equip-width">日期：</label>
        <div id="dayCalendar" class="input-group date form_date count-data" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            <input id="daycalendarBox" class="form-control" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
       </div>
        <div class="Ranking-sort">
            <label class="equip-width">季度：</label>
            <select class="form-control equip-right2 equip-right3">
                <option>1</option>
                <option>2</option>
            </select>
            <label class="equip-width">分类：</label>
            <select class="form-control equip-right2">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <button id=" " type="button" class="btn-equip">查询</button>
    </div>
    <div class="col-xs-12 R-Columnar">
       <table class="table table-striped table-bordered table-hover count-table">
           
       </table>
    </div>
</div>
