<div class="container-fluid main-top equipAlarm">
    <div class="col-xs-12">
        <div class="equip-row">
            <div class="filter-width">
                用户列表：
            </div>
            <div class="se-right equip-right">
                <form role="form">
                    <div class="form-group">
                        <select class="form-control" id="userlist"></select>
                    </div>
                </form>
            </div>
        </div>
        <button id="searchButton" type="button" class="btn-equip">提交</button>
    </div>
    <div id="table-user-menus" class="col-xs-12 R-Columnar">

    </div>

</div>
<script src="~/app/js/Setting/UserMenu.js"></script>
