

<div class="container-fluid main-top">
    <div class="count-info-te  report-add  report-w">
        <div class=" build-info count-info">
            <div class="main-menu">
                <hr>
                <i class="fa fa-paste"></i>筛选
            </div>
            <div class="row">
                <div class="select-width-te">建筑名称：</div>
                <div class="filter-calc-te">
                    <form role="form">
                        <div class="form-group">
                            <select class="form-control" id="buildinglist"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="select-width" style="margin-top: 5px;">分类能耗：</div>
                <div id="te_countBtns" class="filter-calc">
                    <button id="elec" class="btn btn-elc" value="01000" style="width: 20px; height: 20px;" type="button"></button>
                </div>
            </div>
            <div class="row dis-tree">
                <div class="count-list" style="margin-top: 7px;">
                    <p class="row">
                        <img src="/app/img/count3.png"><span class="count-select">支路选择：</span>
                        <label>
                            <input id="related" type="checkbox" value=""><span style="padding-left:5px;cursor:pointer;">级联选择</span>
                        </label>
                    </p>
                     <input id="search-input" class="Reaport-input" type="text"/>
                     <button id="treeSearch" class="Report-search" type="button">检索</button>
                    <div class="treeview"> 
                        <div id="treeview"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="count-info-te-calc  report-modify" style="border:1px solid #B4B4B5;">
        <div id="biaoqian" class="bq-cp">
            <ul>
                <!-- <li id="dayReportClick" style="background-color: #F08500;">日报</li> -->
                <li id="monthReportClick" style="background-color: #74B000;">月报</li>
                <li id="yearReportClick" style="background-color: #0076D0;">年报</li>
            </ul>
        </div>
        <div @*id="content"*@>
                <div class="count-control">
                    <form role="form">
                        <div class="form-group">
                            <label>日期：</label>
                            <div id="dayCalendar" class="input-group date form_date count-data" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input id="daycalendarBox" class="form-control" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <button id="daySearch" type="button" class="btn-count1"><span>查询</span></button>
                            <button id="dayExport" type="button" class="btn-count2"><span>导出</span></button>
                        </div>
                    </form>
                </div>
                <div id="dayReport" >

                    @*<table  class="table table-striped table-bordered table-hover count-table"></table>*@

                </div>
        </div>
    </div>
</div>

<script src="~/app/js/Circuit/CircuitPayRate.js"></script>