<div class="container-fluid main-top">
    <div class="col-xs-12 OverAll-top">
        <label>查询框：</label>
        <input id="search-keyword" type="text" />
        <button id="Dept" type="button" class="searchBtn"><i class="fa fa-group"></i> 部 门</button>
        <button id="Region" type="button" class="searchBtn"><i class="fa fa-flag"></i> 区 域</button>
        <button id="Circuit" type="button" class="searchBtn"><i class="fa fa-sitemap"></i> 支 路</button>
    </div>
    <div>
        <div class="col-xs-12 overall">
            <div class="build-info">
                <div class="main-menu">
                    <hr>
                    <i class="fa fa-bar-chart-o"></i>过去31天用能趋势
                </div>
                <div id="history-line" class="col-xs-12 overall-column">
    
                </div>
            </div>
        </div>
        <div class="OverAll-bottom">
            <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="col-xs-12 OverAll-bottom-in">
                    <div class="Over-month purple">本月</div>
                    <div id="currentMonth" class="Over-month2 purple2">25435 kW.h </div>
                </div>
                <div class="col-xs-12 OverAll-bottom-in">
                    <div class="Over-month blue">上月</div>
                    <div id="lastMonth" class="Over-month2 blue2">25435 kW.h </div>
                </div>
                <div class="col-xs-12 OverAll-bottom-in">
                    <div class="Over-month green">环比</div>
                    <div id="ringRatio" class="Over-month2 green2">25435<img src="../app/img/Overall-down.png"/></div>
                </div>
            </div>
            <div id="dayReport" class="col-lg-9 col-md-8 col-xs-12 OverAll-right">
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/app/js/overallsearch.js"></script>
