<div class="container-fluid main-top">
    <div class="col-xs-12">
        <label>查询框：</label>
        <input type="text" />
        <button type="button"><i class="fa fa-group"></i> 部门</button>
        <button type="button"><i class="fa fa-flag"></i> 区域</button>
        <button type="button">支路</button>
    </div>
    <div>
        <div class="col-xs-12 overall">
            <div class="build-info">
                <div class="main-menu">
                    <hr>
                    <i class="fa fa-bar-chart-o"></i>过去31天用能趋势
                </div>
                <div class="col-xs-12 overall-column">

                </div>
            </div>
        </div>
        <div class="R-Table">
            <div class="col-xs-4">
                本月
                上月
                同比
            </div>
            <div class="col-xs-8">
                <table>
                    <thead>
                    <th>部门</th>
                    <th>1日</th>
                    <th>2日</th>
                    <th>...</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>财务部</td>
                            <td>3526</td>
                            <td>3212</td>
                            <td>...</td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
