<div class="container-fluid">
    <div class="col-xs-12">
        <div class="se-filter-width">
            建筑名称：
        </div>
        <div class="se-right">
            <form role="form">
                <div class="form-group">
                    <select class="form-control" id="buildinglist"></select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-5 se-padding2">
            <div class="build-info">
                <div class="main-menu">
                    <hr>
                    <i class="fa fa-calendar"></i>日分项用能同比分析
                </div>
                <div id="compareBar"></div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-7 se-padding">
            <div class="build-info">
                <div class="main-menu">
                    <hr>
                    <i class="fa fa-calendar-o"></i>本月分项用能排名
                </div>
                <div id="seBtns" class="col-sm-1 col-xs-12 se-time">
                    <div id="se_light" class="col-sm-12 col-xs-3" value="01A00">
                        <span>照明<br />插座</span>
                    </div>
                    <div id="se_power" class="col-sm-12 col-xs-3" value="01C00">
                        <span>动力<br />用电</span>
                    </div>
                    <div id="se_air" class="col-sm-12 col-xs-3" value="01B00">
                        <span>空调<br />用电</span>
                    </div>
                    <div id="se_special" class="col-sm-12 col-xs-3" value="01D00">
                        <span>特殊<br />用电</span>
                    </div>
                </div>
                <div id="seRankbar" class="col-sm-11 col-xs-12  build-info-se">
                    <!-- <div ></div> -->
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-5 se-padding2">
            <div class="build-info">
                <div class="main-menu">
                    <hr>
                    <i class="fa fa-pie-chart"></i>过去31天分项用能饼图
                </div>
                <div id="pastMonthPie" class="se-yet">

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-7">
            <div class="build-info">
                <div class="main-menu">
                    <hr>
                    <i class="fa fa-bar-chart"></i>过去31天分项用能趋势
                </div>
                <div id="pastMonthStackBar" class="se-yet">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/app/js/Item/Overview.js"></script>