<div class="container-fluid main-top">
    <div class="col-xs-12">
        <div class="filter-width">
            建筑名称：
        </div>
        <div class="se-right">
            <form role="form">
                <div class="form-group">
                    <select class="form-control" id="buildinglist"></select>
                </div>
            </form>
        </div>
        <div class="filter-width">
            分类能耗：
        </div>
        <div class="se-right">
            <form role="form">
                <div class="form-group">
                    <select class="form-control" id="energylist"></select>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-4 col-sm-5">
        <div class="build-info">
            <div class="main-menu">
                <hr>
                <i class="fa fa-calendar"></i>日部门用能同比分析
            </div>
            <div id="compareBar" class="se-yet"></div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-7">
        <div class="build-info">
            <div class="main-menu">
                <hr>
                <i class="fa fa-calendar-o"></i>本年部门绩效考核<span style="font-size:13px;"> (红色：实际值大于计划值)</span>
            </div>
            <div id="planChart" class="se-yet">

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-5 se-padding2">
        <div class="build-info">
            <div class="main-menu">
                <hr>
                <i class="fa fa-pie-chart"></i>过去31天部门用能饼图
            </div>
            <div id="monthPie" class="se-yet">

            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-7">
        <div class="build-info">
            <div class="main-menu">
                <hr>
                <i class="fa fa-bar-chart"></i>过去31天部门用能趋势
            </div>
            <div id="monthStackBar" class="se-yet">

            </div>
        </div>
    </div>
</div>
<script src="/app/js/Department/Main.js"></script>